* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}

a,
ul {
  list-style: none;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100px;
}

.logo {
  position: absolute;
  left: 50px;
}

.sidebar__menu--center {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.sidebar__menu--icon {
  display: flex;
  width: 15%;
  position: absolute;
  justify-content: space-between;
  right: 70px;
  font-size: 25px;
}

.sidebar_bottom {
  background-color: #f9f1e7;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.home {
  display: flex;
  align-items: center;
}
.home span {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.home ion-icon {
  margin-left: 20px;
  font-size: 30px;
  margin-right: 20px;
}

.home ion-icon:last-child {
  border-right: 1px solid black;
  padding-right: 30px;
}

.name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 30px;
  text-align: left;
}

.view__product {
  display: flex;
  width: 80%;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
}

.img {
  background-color: #fff3e3;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 10px;
  width: 80px;
  margin-right: 30px;
}

.img_feature {
  object-fit: cover;
  background-color: #fff3e3;
  border-radius: 20px;
  margin-right: 90px;
}

.infor_product h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
  text-align: left;
}

.infor_product .price {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #9f9f9f;
  margin-top: 20px;
}

.infor_product .buy__btn {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 220px;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  margin-top: 30px;
  cursor: pointer;
}

.information {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border-top: 1px solid rgba(195, 188, 188, 0.751);
}

.infor1 .list_infor {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 350px;
}

.list_infor .link_infor {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #9f9f9f;
  margin-right: 100px;
  margin-bottom: 30px;
}

.list_infor .link_infor:first-child {
  font-size: 24px;
  font-weight: 6 00;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

.infor2 {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.infor2 p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justified;
  color: #9f9f9f;
}

.infor3{
     display: flex;
     flex-direction: row;
}
