* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}

a,
ul {
  list-style: none;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100px;
}

.logo {
  position: absolute;
  left: 50px;
}

.sidebar__menu--center {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.sidebar__menu--icon {
  display: flex;
  width: 15%;
  position: absolute;
  justify-content: space-between;
  right: 70px;
  font-size: 25px;
}

.wrapper {
  background-image: url(./image/background.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.infor {
  box-sizing: border-box;
  background-color: #fff3e3;
  width: 30%;
  height: 440px;
  border-radius: 10px;
  position: absolute;
  right: 20%;
  top: 300px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.infor span {
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #333333;
  margin-bottom: 30px;
}

.infor h2 {
  font-size: 45px;
  line-height: 65px;
  font-weight: 700;
  color: #b88e2f;
}

.infor p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}

.wrapper__btn {
  background-color: #b88e2f;
  color: #ffffff;
  padding: 20px 55px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 5px;
}

/* main */

.Browse {
  width: 80%;
  margin: 20px auto;
}

.Browse h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-left: 37%;
}

.Browse p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-left: 27%;
  margin-bottom: 50px;
}

.Browse__img {
  display: flex;
  gap: 20px;
  margin-left: 12px;
}

.img p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 18px;
  margin-left: 132px;
}
.product {
  width: 1200px;
  margin: 0 auto;
}

.ourproduct {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  flex-wrap: wrap;
}

.product h2 {
  margin-left: 40%;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}

.card_product {
  flex-grow: 1;
  flex-basis: 200;
  width: 285px;
  height: 440px;
  background-color: #f4f5f7;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card_product h4 {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: capitalize;
}

.card_product .information {
  color: #898989;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 10px;
  text-transform: capitalize;
}

.card_product .price {
  color: #3a3a3a;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 130px;
}

.product__btn {
  color: #b88e2f;
  background-color: #ffffff;
  width: 200px;
  height: 48px;
  line-height: 24px;
  font-weight: 600;
  border: 2px solid #b88e2f;
  margin: 0 auto;
}

.about {
  margin-top: 100px;
  border-top: 1px solid grey;
  display: flex;
}

.about_infor1 {
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 120px;
}
.about_infor1 h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 55px;
}

.about_infor1 p {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about_infor2 {
  display: flex;
  margin-top: 60px;
}

.about_infor2 h5 {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 60px;
}

.menu_link {
  margin-bottom: 60px;
  margin-right: 120px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.menu_help {
  margin-bottom: 60px;
  margin-right: 120px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.newsletter input{
    color: #9F9F9F ;
    border: none;
}
